a,
.hover_child {
	transition: transform 0.4s;
}

.hover:hover a {
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
	transform: translate(0, -2px);
	opacity: 0.85;
	filter: brightness(105%);
}

.hover:hover .hover_child {
	transform: translate(0, -2px);
}
