@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Playfair+Display&display=swap");

body {
	font-family: "Kiwi Maru", serif;
}

img {
	object-fit: cover;
}

button {
	background: none;
}
