@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

body {
	font-family: "Kiwi Maru", serif;
}

img {
	object-fit: cover;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button {
	padding: 8px 12px;
	margin: 0 4px;
	background-color: #e4e4e4;
	border: none;
	border-radius: 4px;
	color: #333;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.pagination button:hover {
	background-color: #bbb;
}

.pagination button.active {
	background-color: #333;
	color: #fff;
}
