@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");

body {
	font-family: "Kiwi Maru", serif;
}

img {
	object-fit: cover;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button {
	justify-content: center;
	width: 35px;
	padding: 8px 9px;
	margin: 0 3px;
	border: none;
	border-radius: 2px;
	color: #333;
	font-size: 13px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.pagination button:hover {
	background-color: #bbb;
}

.pagination button.active {
	background-color: #333;
	color: #fff;
}
.ellipsis {
	margin-top: 2px;
}
